keyboard_creator/joker48_template/joker48-backups/
keyboard_creator/joker64_template/joker64-backups/
keyboard_creator/blank_template/blank_template-backups/
keyboard_creator/.git*
keyboard_creator/kicad_files
