core_files/.git*
core_files/kicad_files
core_files/blank_template/blank-backups/
keyboard_creator/joker_template/joker-backups/

keyboard_creator/joker_template/template/joker-backups
keyboard_creator/joker_template/.git*
keyboard_creator/joker_template/kicad_files
